@model IEnumerable<PBL3_Tutor.Models.Registration>

@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/Staffs/Views/Shared/_LayoutStaff.cshtml";
}

<h2>Register</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tutor.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tutor.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.ActionLink("Tutor Information", "Details", "Tutors", new { id = item.tutorId }, new { }) |
                @Html.ActionLink("Refuse", "Refuse", new { classId = item.classId, tutorId = item.tutorId }) |
                @Html.ActionLink("Acept", "Acept", new { classId = item.classId, tutorId = item.tutorId })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back", "Empty")
</div>