<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <style>
        body {
            background-image: url("https://jooinn.com/images/ocean-1.jpg");
        }
    </style>

    

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <section class="clearfix header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <span class="logo-img">
                        <span class="img-circle">
                            <img src="https://www.growgreen.edu.vn/asset/images/growgreen-logo.jpg" alt="Gia sư GrowGreen">
                        </span>
                    </span>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">TRUNG TÂM GIA SƯ PBL3</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="@Url.Action("Index","Home")">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("About","Home")">Giới thiệu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Service","Home")">Dịch vụ</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Blog
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="@Url.Action("TutorBlog", "Blog")">Blog gia sư</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("StudentBlog", "Blog")">Blog học sinh</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("ParentBlog", "Blog")">Blog phụ huynh</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Tutors/Classes/Index">Danh sách lớp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Contact","Home")">Liên hệ</a>
                            </li>
                        </ul>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a class="btn btn-success" href="~/Tutors/Classes/Index" role="button">Dành cho gia sư</a>
                            <a class="btn btn-primary" href="@Url.Action("Register", "Home")" role="button">Đăng ký thuê gia sư</a>

                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>


    <section class="clearfix maincontent">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>


    <section class="clearfix footer bg-light">

        <footer id="footer">
            <div class="container py-4">
                <a href="#" onclick="scroll_to_top('fast');return false" class="text-underline">Trở lại phía trên đầu</a>
            </div>

            <div class="footer-primary-section pt-4 pb-3">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 mt-2 mt-lg-0">
                            <div class="h5 mb-3">Liên hệ với chúng tôi</div>
                            <div class="my-contact my-mt-1">
                                <p><span class="icon icon-map-marker"></span> Số 54 Nguyễn Lương Bằng, Hòa Khánh Bắc, Liên Chiểu, Đà Nẵng</p>
                                <p><span class="icon icon-phone"></span> <a href="tel:+84902123456">0902-1234-56</a></p>
                                <p><span class="icon icon-envelope-o"></span> contact@nhom7pbl3.edu.vn</p>
                            </div>
                        </div>

                        <div class="connect-us col-lg-3 mt-3 mt-lg-0">
                            <div class="h5 mb-3">Về chúng tôi</div>
                            <ul class="list-unstyled">
                                <li class="mb-1"><a href="@Url.Action("About", "Home")">Giới thiệu</a></li>
                                <li class="mb-1"><a href="@Url.Action("Contact", "Home")">Liên hệ</a></li>
                                <li class="mb-1"><a href="@Url.Action("About", "Home")">Chính sách bảo mật</a></li>
                                <li><a href="@Url.Action("Service", "Home")">Đăng ký thuê gia sư</a></li>
                            </ul>
                        </div>

                        <div class="connect-us col-lg-5 my-3 my-lg-0 text-lg-right">
                            <div class="h5 mb-3">Kết nối với chúng tôi</div>
                            <div class="fb_item fb_item-blue mt-4 mt-lg-1">
                                <div class="fb_item-title">Dành cho khách hàng:</div>
                                <div class="fb_item-ct">
                                    <a href="https://www.facebook.com/ducthang3010" rel="nofollow" target="_blank">
                                        <span class="icon icon-facebook"></span>
                                        <span>PBL3 Education</span>
                                    </a>
                                </div>
                            </div>
                            <div class="fb_item fb_item-green mt-3">
                                <div class="fb_item-title">Dành cho gia sư:</div>
                                <div class="fb_item-ct fb_item-ct-2">
                                    <a href="https://www.facebook.com/ducthang3010" rel="nofollow" target="_blank">
                                        <span class="icon icon-facebook"></span>
                                        <span class="ml-1">Gia Sư PBL3</span>
                                    </a>
                                </div>
                            </div>
                            <div class="google_business mt-4 mt-lg-3 d-flex">
                                <div class="google_business-title">Google Business:</div>
                                <div class="google_business-ct">
                                    <a href="https://goo.gl/maps/Jx1fqArZDkTkjvZXA" rel="nofollow" target="_blank">
                                        <span>Trung Tâm Gia Sư PBL3</span>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div><!-- End Row -->
                </div><!-- End Grid -->
            </div><!-- End my-primary-section -->

            <div class="footer-secondary-section py-3 py-lg-2 copyright">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-8">

                            <span class="mr-2">Copyright © 2022 by nhóm 7 lớp PBL3 20Nh10b. All rights reserved.</span>

                        </div>
                        <div class="col-lg-4 mt-3 mt-lg-0 pb-2 pb-lg-0 text-lg-right">

                            <span>Powered by</span>
                            <a href="http://dut.udn.vn" class="text-accent-cool font-weight-bold" target="_blank">DHBK-DHDN</a>

                        </div>
                    </div>

                </div>
            </div>
        </footer>

        <div class="container-fluid text-primary text-center py-3">
            Thiết kế bởi Thắng tay to
            <p>© 2022 - My ASP.NET Application</p>
        </div>

    </section>







</body>
</html>