
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Page Content -->
<h3 class="box-title">Trang chủ</h3>
<div>
    <a class="btn btn-primary" href="@Url.Action("Index", "Students")" role="button">Xem danh sách thuê mới gia sư</a>
</div>
<div>
    <a class="btn btn-info" href="@Url.Action("Index", "Registrations")" role="button">Xem danh sách đăng kí lớp</a>
</div>
<div>
    <a class="btn btn-warning" href="@Url.Action("Index", "Accounts")" role="button">Xem danh sách tài khoản</a>
</div>
<div>
    <a class="btn btn-danger" href="@Url.Action("Index", "Tutors")" role="button">Xem danh sách gia sư</a>
</div>
<div>
    <a class="btn btn-success" href="@Url.Action("Index", "Classes")" role="button">Xem danh sách lớp</a>
</div>
<div>
    <a class="btn btn-instagram" href="@Url.Action("Index", "Staffs")" role="button">Quản lý nhân viên</a>
</div>


