@model PBL3_Tutor.Models.Class

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Tutors/Views/Shared/_LayoutTutor.cshtml";
}

<h2 class="text-white">Thông tin chi tiết lớp học:</h2>

<div>
    <div class="col-4">
        <div class="p-3 border bg-light">
            <h3 class="text-primary">
                Mã Lớp
                <b class="text-success">
                    ML@(Model.classId)
                </b>
            </h3>
            <p>
                <b>
                    @(Model.Student.subject)
                    - Lớp @(Model.Student.grade)
                </b>
            </p>
            <p>
                <b>Địa chỉ:</b>
                @(Model.Student.address)
            </p>
            <p>
                <b>Mức thu nhập:</b>
                @(Model.Student.paymentAmount) ₫/tháng
            </p>
            <p>
                <b> Yêu cầu:</b>
                @(Model.Student.requirement)
            </p>
            <p>
                <b>Thời gian có thể học:</b>
                @(Model.Student.freeTime)
            </p>
        </div>
        <div class="p-3 border bg-light">
            <h3 class="text-primary">
                Đặc điểm học sinh
            </h3>
            <p>
                <b>Giới tính: </b>
                @(Model.Student.gender==true?"Nam":"Nữ")
            </p>
            <p>
                @(Model.Student.academicAbility == null?"":"Học lực: " + Model.Student.academicAbility)
            </p>
            <p>
                @(Model.Student.school == null?"":"Đang theo học trường " + Model.Student.school)
            </p>
            <p>
                @(Model.Student.note == null?"":Model.Student.note)
            </p>
        </div>
        <p>
            <b>@(Model.fee == 0?"Miễn phí nhận lớp":"Phí nhận lớp: " + Model.fee + "%")</b>
            <br />
            *Phí nhận lớp chỉ nộp 1 lần, những lần tiếp theo sẽ không mất phí
        </p>
    </div>
</div>
<p>
    <div class="d-grid gap-2 d-md-flex">
        <a class="btn btn-success" href="@Url.Action("Index", "Classes")" role="button">Trở lại danh sách</a>
        <a class="btn btn-primary" href="@Url.Action("Create", "Registrations", new {classId = Model.classId})" role="button">Đăng ký nhận lớp</a>
    </div>
</p>