@model PBL3_Tutor.Models.Registration

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Registration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class.classId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.classId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutor.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
